<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Fontfaces CSS-->
    <link href="folderforadmin/css/font-face.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="folderforadmin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="folderforadmin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="folderforadmin/css/theme.css" rel="stylesheet" media="all">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <style>
        #example_wrapper{
            background: white;
            padding: 20px;
        }
        input{
            border: 1px #969ba3 solid;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="active">
                            <a th:href="@{/adminPage}">
                                <i class="fas fa-chart-bar"></i>Пользователи</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Туры</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Отели</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#"><h3>Silk Way</h3>
                    <!--<img src="images/icon/logo.png" alt="Cool Admin" />-->
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active">
                            <a th:href="@{/adminPage}">
                                <i class="fas fa-users"></i>Пользователи</a>
                        </li>
                        <li>
                            <a th:href="@{/adminPage}">
                                <i class="fas fa-building"></i>Компании</a>
                        </li>
                        <li>
                            <a th:href="@{/adminPage}">
                            <i class="fas fa-plane"></i>Туры</a>
                        </li>
                        <li>
                            <a th:href="@{/adminPage}">
                                <i class="fas fa-plane"></i>Отели</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- MAIN CONTENT-->
            <div class="main-content" style="padding-top: 30px">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <button type="button" class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#basicExampleModal" style="line-height: 30px; font-size: 12px">
                                        <i class="zmdi zmdi-plus"></i> Добавить админа
                                    </button>
                                    <button type="button" class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#company" style="line-height: 30px; font-size: 12px">
                                        <i class="zmdi zmdi-plus"></i> Добавить компанию
                                    </button>
                                </div>
                                <div class="table-responsive table--no-card m-b-30">

                                <table width="100%" class="display table table-borderless table-striped table-earning" id="example">
                                    <thead>
                                    <tr>
                                        <th>Имя</th>
                                        <th>Фамилия</th>
                                        <th>Почта</th>
                                        <th>Контакты</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${users}">
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.contacts}"></td>
                                        <td class="button"><a th:href="@{/deleteUser/__${user.id}__}">Удалить</a></td>
                                        <td class="button"><a th:href="@{/updateUser/__${user.id}__}">Обновить</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Новый админ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="login100-form validate-form" th:action="@{/regAdmin}" method="post" th:object="${user}" enctype="multipart/form-data">
                        <input th:value="${error}" id="error" hidden="hidden">
                        <div class="form-group">
                            <label class="control-label mb-1">Имя</label>
                            <input  type="text" class="form-control" required="required" th:field="*{firstName}">
                        </div>
                        <div class="form-group">
                            <label class="control-label mb-1">Фамилия</label>
                            <input  type="text" class="form-control" required="required" th:field="*{lastName}">
                        </div>
                        <div class="form-group">
                            <label class="control-label mb-1">Контакты</label>
                            <input  type="text" class="form-control" required="required" th:field="*{contacts}">
                        </div>
                        <div class="form-group">
                            <label class="control-label mb-1">Почта</label>
                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"   class="validation-message"></label>
                            <input  type="email" class="form-control" required="required" th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label class="control-label mb-1">Пароль</label>
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"   class="validation-message"></label>
                            <input  type="password" class="form-control" required="required" th:field="*{password}">
                        </div>

                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="company" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal">Новая компания</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="login100-form validate-form" th:action="@{/regCompany}" method="post" th:object="${user}" enctype="multipart/form-data">
                        <input th:value="${errorCompany}" id="errorCompany" hidden="hidden">
                        <div class="form-group">
                            <label class="control-label mb-1">Название</label>
                            <input  type="text" class="form-control" required="required" th:field="*{title}">
                        </div>
                        <div class="form-group">
                            <label class="control-label mb-1">Бренд</label>
                            <input  type="text" class="form-control" required="required" th:field="*{brand}">
                        </div>
                        <div class="form-group">
                            <label class="control-label mb-1">Почта</label>
                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"   class="validation-message"></label>
                            <input  type="email" class="form-control" required="required" th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label class="control-label mb-1">Пароль</label>
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"   class="validation-message"></label>
                            <input  type="password" class="form-control" required="required" th:field="*{password}">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            if($("#error").val()==1){
                $('#basicExampleModal').modal('show');
            }
            if($("#errorCompany").val()==1){
                $('#company').modal('show');
            }
            $("#example").DataTable({
                "scrollX":"500px",
                "scrollCollapse": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                }
            });
        });
    </script>
    <!-- Jquery JS-->
    <script src="folderforadmin/vendor/jquery-3.2.1.min.js"></script>
    <!--&lt;!&ndash; Bootstrap JS&ndash;&gt;-->
    <script src="folderforadmin/vendor/bootstrap-4.1/popper.min.js"></script>
    <!--&lt;!&ndash; Vendor JS       &ndash;&gt;-->
    <script src="folderforadmin/vendor/slick/slick.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!--<script src="folderforadmin/vendor/wow/wow.min.js"></script>-->
    <script src="folderforadmin/vendor/animsition/animsition.min.js"></script>
    <script src="folderforadmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="folderforadmin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="folderforadmin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="folderforadmin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="folderforadmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="folderforadmin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="folderforadmin/vendor/select2/select2.min.js">
    </script>

    <!--&lt;!&ndash; Main JS&ndash;&gt;-->
    <script src="folderforadmin/js/main.js"></script>
    <script src="folderforadmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</body>

</html>
