<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All Booked Hotels</h2>
<table border="1">
    <tr>
        <th>Name Of Hotel</th>
        <th>From whom(User)?</th>
        <th>From Which Company?</th>
        <th>Answered status</th>
        <th>If not answer?</th>
    </tr>
    <tr th:each = "bookHotel: ${bookHotels}">
        <td th:text="${bookHotel.hotelName}">Name of hotel</td>
        <td th:text="${bookHotel.userName}">Name of user</td>
        <td th:text="${bookHotel.companyTitle}">Name of Company</td>
        <td th:text="${bookHotel.answeredYesNo}">Status</td>
        <td><a th:href="@{/answerBookHotel/__${bookHotel.id}__}">Answered?</a></td>
    </tr>
</table>
</body>
</html>