<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Tours</h2>
<table border="1">
  <tr>
    <th>title</th>
    <th>description</th>
    <th>country</th>
    <th>get tour</th>
  </tr>
  <tr th:each = "tour: ${tours}">
    <td th:text="${tour.title}">Title</td>
    <td th:text="${tour.description}">Description</td>
    <td th:text="${tour.country}">Country</td>
    <td><a th:href="@{/tourInfo/__${tour.id}__}">get tour</a></td>
  </tr>
</table>
</body>
</html>