<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Searching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<span class="login100-form-title p-b-37" style="padding-left: 60px">
					booking:
			</span>
        <h1 th:text="${tour.title}">Title</h1>
        <form class="login100-form validate-form" th:action="@{/buyingTour}" method="post">

            <div id="tur2">
                <div class="wrap-input100">
                    <span class="input-group-addon">Full Name</span>
                    <input class="input100" type="text" name="userName">
                    <span class="focus-input100"></span>
                </div>
            </div>

            <div id="tur2">
                <div class="wrap-input100">
                    <span class="input-group-addon">Email</span>
                    <input class="input100" type="text" name="userEmail">
                    <span class="focus-input100"></span>
                </div>
            </div>

            <div id="tur2">
                <div class="wrap-input100">
                    <span class="input-group-addon">Contacts</span>
                    <input class="input100" type="text" name="contacts">
                    <span class="focus-input100"></span>
                </div>
            </div>

            <div id="tur2">
                <div class="wrap-input100">
                    <input type="hidden" name="tourId" th:value="${tour.id}">
                    <span class="focus-input100"></span>
                </div>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit" value="Submit">
                    Submit
                </button>
            </div>
            <div class="text-center">

                <a th:href="@{/login}" class="txt2 hov1">
                    Sign In
                </a>
            </div>
        </form>


    </div>

</div>

</body>
</html>