<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Filtered Hotel</h2>
<table border="1">
    <tr>
        <th>title</th>
        <th>category</th>
        <th>stars</th>
        <th>get hotel</th>
    </tr>
    <tr th:each = "hotel: ${hotels}">
        <td th:text="${hotel.title}">Title</td>
        <td th:text="${hotel.category}">Category</td>
        <td th:text="${hotel.stars}">Stars</td>
        <td><a th:href="@{/hotelInfo/__${hotel.id}__}">get hotel</a></td>
    </tr>
</table>
</body>
</html>