<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Welcome!</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<p>
    Welcome <span sec:authentication="principal.username">User</span>
</p>

<div class="form-group">
    <span>All tours<a href="/" th:href="@{/findTours}">See all tours</a></span>
</div>

<div class="form-group">
    <span>Search tours<a href="/" th:href="@{/findTour}">Search all tours</a></span>
</div>

<div class="form-group">
    <span>All hotels<a href="/" th:href="@{/findHotels}">See all Hotels</a></span>
</div>

<div class="form-group">
    <span>Search hotels<a href="/" th:href="@{/findHotel}">Search all hotels</a></span>
</div>

<div class="form-group">
    <span>See Your Bught Tours <a href="/" th:href="@{/boughtTours}">See all your bought Tours</a></span>
</div>

<div class="form-group">
    <span>See Your booked Hotels <a href="/" th:href="@{/bookedHotels}">See all your booked hotels</a></span>
</div>

<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>