<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<span class="login100-form-title p-b-37" style="padding-left: 60px">
					Register Hotel:
			</span>
        <form class="login100-form validate-form" th:action="@{/regHotel}" method="post" th:object="${hotel}" enctype="multipart/form-data">
            <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"  class="validation-message"></label>
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">Title</span>
                    <input type="text" th:field="*{title}" class="form-control" name="title" />
                </div>
            </div>
            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('stars')}" th:errors="*{stars}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">Stars</span>
                    <input type="long" th:field="*{stars}" class="form-control" name="stars" />
                </div>
            </div>
            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <input type="text" th:field="*{description}" class="form-control" name="description" />
                </div>
            </div>
            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">Price</span>
                    <input type="Integer" th:field="*{price}" class="form-control" name="price" />
                </div>
            </div>
            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">Category</span>
                    <input type="text" th:field="*{category}" class="form-control" name="category" />
                </div>
            </div>
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            </table>


            <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit" value="Submit">
                    Submit
                </button>
            </div>
            <div class="text-center">

                <a th:href="@{/login}" class="txt2 hov1">
                    Sign In
                </a>
            </div>
        </form>


    </div>

</div>

</body>
</html>