<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<span class="login100-form-title p-b-37" style="padding-left: 60px">
					Register Tour:
			</span>
        <form class="login100-form validate-form" th:action="@{/regTour}" method="post" th:object="${tour}" enctype="multipart/form-data">
            <!--<label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"  class="validation-message"></label>-->
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">Title</span>
                    <input type="text" th:field="*{title}" class="form-control" name="title" />
                </div>
            </div>
            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">Country</span>
                    <input type="text" th:field="*{country}" class="form-control" name="country" />
                </div>
            </div>
            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <input type="text" th:field="*{description}" class="form-control" name="description" />
                </div>
            </div>

            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">Price</span>
                    <input type="long" th:field="*{price}" class="form-control" name="price" />
                </div>
            </div>

            <!--<label th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}"  class="validation-message"></label>-->
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}" class="validation-message"></label>
                <div class="wrap-input100">
                    <input class="input100" type="date" pattern="yyyy-MM-dd" th:field="*{dateFrom}" name="dateFrom" placeholder="DateFrom">
                    <span class="focus-input100"></span>
                </div>
            </div>

            <!--<label th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}"  class="validation-message"></label>-->
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}" class="validation-message"></label>
                <div class="wrap-input100">
                    <input class="input100" type="date" pattern="yyyy-MM-dd" th:field="*{dateTo}" name="dateTo" placeholder="DateTo">
                    <span class="focus-input100"></span>
                </div>
            </div>

            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-3 inputGroupContainer ">
                <label th:if="${#fields.hasErrors('hotTourYesNo')}" th:errors="*{hotTourYesNo}" class="validation-message"></label>
                <div class="input-group">
                    <span class="input-group-addon">This is hot Tour?(Yes or No)</span>
                    <input type="text" th:field="*{hotTourYesNo}" class="form-control" name="hotTourYesNo" value="no"/>
                </div>
            </div>

            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            </table>


            <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit" value="Submit">
                    Submit
                </button>
            </div>
            <div class="text-center">

                <a th:href="@{/login}" class="txt2 hov1">
                    Sign In
                </a>
            </div>
        </form>


    </div>

</div>

</body>
</html>