<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Tour</h2>
<table border="1">
    <tr>
        <th>title</th>
        <th>description</th>
        <th>country</th>
        <th>Delete</th>
        <th>Update</th>
        <th>img</th>
    </tr>
    <tr>
        <td th:text="${tour.title}">Title</td>
        <td th:text="${tour.description}">Description</td>
        <td th:text="${tour.country}">Country</td>
        <td><a th:href="@{/deleteTour/__${tour.id}__}">Delete</a></td>
        <td><a th:href="@{/updateTour/__${tour.id}__}">Update</a></td>
        <td><a th:href="@{/buyTour/__${tour.id}__}">Buy a Tour</a></td>
        <img th:src="@{${tour.getImage()}}" style="width: 100px; height: 100px;"/>
    </tr>
</table>
</body>
</html>