<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update hotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="move">
<form th:action="@{/updateHotel}"  th:object="${hotel}" method="post" class="login100-form validate-form">
    <input type="hidden" th:field="*{id}" >
    <label class="col-xs-3 control-label"></label>
    <div class="col-xs-3 inputGroupContainer ">
        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message"></label>
        <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" th:field="*{title}" class="form-control" name="title" />
        </div>
    </div>
    <label class="col-xs-3 control-label"></label>
    <div class="col-xs-3 inputGroupContainer ">
        <label th:if="${#fields.hasErrors('stars')}" th:errors="*{stars}" class="validation-message"></label>
        <div class="input-group">
            <span class="input-group-addon">Stars</span>
            <input type="long" th:field="*{stars}" class="form-control" name="stars" />
        </div>
    </div>
    <label class="col-xs-3 control-label"></label>
    <div class="col-xs-3 inputGroupContainer ">
        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
        <div class="input-group">
            <span class="input-group-addon">Description</span>
            <input type="text" th:field="*{description}" class="form-control" name="description" />
        </div>
    </div>
    <label class="col-xs-3 control-label"></label>
    <div class="col-xs-3 inputGroupContainer ">
        <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="validation-message"></label>
        <div class="input-group">
            <span class="input-group-addon">Price</span>
            <input type="Integer" th:field="*{price}" class="form-control" name="price" />
        </div>
    </div>
    <label class="col-xs-3 control-label"></label>
    <div class="col-xs-3 inputGroupContainer ">
        <label th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="validation-message"></label>
        <div class="input-group">
            <span class="input-group-addon">Category</span>
            <input type="text" th:field="*{category}" class="form-control" name="category" />
        </div>
    </div>
    <table>
        <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
    </table>
    <button type="submit" value="Submit">Submit</button>
    <a style="color: #ffffff; font-family: 'Times New Roman';font-size:30px;
padding-left:12cm" th:href="@{/superAdmin}">BACK</a>
</form>
</body>
</html>