<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="move">
<form th:action="@{/updateCompany}"  th:object="${user}" method="post" class="login100-form validate-form">
    <input type="hidden" th:field="*{id}" >
    <label class="col-xs-3 control-label"></label>
    <div class="col-xs-3 inputGroupContainer ">
        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message"></label>
        <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" th:field="*{title}" class="form-control" name="title" />
        </div>
    </div>
    <label class="col-xs-3 control-label"></label>
    <div class="col-xs-3 inputGroupContainer ">
        <label th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="validation-message"></label>
        <div class="input-group">
            <span class="input-group-addon">Brand</span>
            <input type="text" th:field="*{brand}" class="form-control" name="brand" />
        </div>
    </div>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>