<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="move">
<form method="post" enctype="multipart/form-data" action="/updateUser">
    First Name:<br>
    <input type="hidden" name="id" th:value="${id}">
    <input type="text" th:value="${firstName}" name="firstName"><br>
    Last Name:<br>
    <input type="text" th:utext="${lastName}" name="lastName"><br>
    Contacts:<br>
    <input type="text" th:utext="${contacts}" name="contacts"><br>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>