<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>User</h2>
<table border="1">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Contacts</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr>
        <td th:text="${user.firstName}">First Name</td>
        <td th:text="${user.lastName}">Last Name</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.contacts}">Contacts</td>
        <td><a th:href="@{/deleteUser/__${user.id}__}">Delete</a></td>
        <td><a th:href="@{/updateUser/__${user.id}__}">Update</a></td>
    </tr>
</table>
</body>
</html>